# --- CSV ---
CSV_FILENAME=customers.csv
CHUNK_SIZE=5000

# --- SQL (PostgreSQL via Docker) ---
SQL_URI=postgresql://etl_user:etl_pass@localhost:5432/etl_demo
SQL_TABLE=customers

# --- MongoDB (via Docker) ---
MONGO_URI=mongodb://localhost:27017/
MONGO_DB=etl_demo
MONGO_COLLECTION=customers
