# --- CSV ---
DATA_DIR=data
CHUNK_SIZE=5000

# --- SQL (PostgreSQL) ---
DB_HOST=localhost
DB_PORT=5432
DB_USER=your_user
DB_PASSWORD=your_password
DB_NAME=your_db

# --- MongoDB ---
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB=your_db
